template(name='admin')
	div.col-md-5
		form.main.form#addUser
			div.form-group
				label(for="username") username
				input.form-control(type="text" name="username" autofocus placeholder="Enter username..." required)
			div.form-group
				label(for="email") name
				input.form-control(type="text" name="name" placeholder="Enter name..." required) 
			div.form-group
				label(for="password") password
				input.form-control(type="password" name="password" placeholder="Enter password..." required)
			div.form-group
				label(for="email") email
				input.form-control(type="email" name="email" placeholder="Enter email..." required)
			div.form-group
				label(for="rote") rote
				select#rote
					option student
					option assistant
					option teacher
			div
				button.btn.btn-success(type="submit") Add User